@font-face {
    font-family: feast-of-flesh-bb;
    src: url(~@/assets/fonts/feast-of-flesh-bb/fofbb_reg.ttf)
}

@font-face {
    font-family: mistervampire;
    src: url(~@/assets/fonts/mistervampire/MISTV___.TTF)
}

@font-face {
    font-family: willywonka;
    src: url(~@/assets/fonts/willywonka/WillyWonka.ttf)
}

@font-face {
    font-family: lato;
    src: url(~@/assets/fonts/lato/Lato-Regular.ttf);
}