
// COLOR PALETTE

$clr1: #D9D9D9;
$clr2: #131826;
$clr3: #F23A29;
$clr4: #BF4F45;
$clr5: #F2695C;

// $clr1: #E63462;
// $clr2: #FE5F55;
// $clr3: #0C5859;
// $clr4: #C7EFCF;
// $clr5: #EEF5DB;

// $clr1: #9CEDE9;
// $clr2: #A0CFD3;
// $clr3: #8D94BA;
// $clr4: #9A7AA0;
// $clr5: #87677B;

//NICE!!!
// $clr1: #FF5A5A;
// $clr2: #264653;
// $clr3: #D0E3CC;
// $clr4: #E9C46A;
// $clr5: #E9C46A;

// $clr1: #B8E1FF;
// $clr2: #FAC0BE;
// $clr3: #42B6FF;
// $clr4: #CCCCAE;
// $clr5: #FBFF16;
// $clr6: #2C3E50;

// LAYOUT BREAKPOINTS

$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 960px;


