.toy-preview {
    max-width: rem(450px);
    background-color: $clr5;
    display: flex;
    justify-content: space-between;
    // grid-template-columns: 1fr 5fr;
    // background-color: darken($clr5, 10%);
    font-family: lato, sans-serif;
    color: $clr2;
    // padding: 5px;
    h2 {
        // font-family: lato, sans-serif;
        text-transform: capitalize;
        font-family: mistervampire;
        font-size: rem(30px);
        letter-spacing: 3px;
    }
    a {
        color: $clr2;            
    }
    img {
        // padding-top: rem(7/0px);
        height: rem(100px);
        width: rem(100px);
    }
    .toy-preview-info {
        padding-right: rem(25px);
        // align-self: center;
        justify-self: center;
        // text-align: center;
        font-size: rem(12px);

    }
    .toy-image {
        mix-blend-mode: multiply;
        filter: grayscale(1);
    }
}